torch
torchvision
torchaudio
lightning

numpy
pandas
matplotlib
seaborn

keras
tensorflow
tf-keras

opencv-python

accelerate
huggingface-hub
huggingface

transformers
datasets

nltk
scikit-learn

ipython
jupyter
notebook
